#Dicrionary in python

- unordered
- mutable
- index collection by keys and values
- key must be unique

In [1]:
my_dict = {"name":"Tushar", "Age":33, "City":"Wardha"}

In [2]:
#accssing elemnets

In [3]:
my_dict["name"]

'Tushar'

In [5]:
my_dict['City']

'Wardha'

In [6]:
my_dict['gender']

KeyError: 'gender'

In [7]:
#to avoid key error while accessing we use get mehtod

In [8]:
my_dict.get("gender", "Uknown")

'Uknown'

In [9]:
my_dict.get("City", "Unknown")

'Wardha'

In [10]:
#adding and changing

In [11]:
my_dict["City"] ="Nagpur"   #modify

In [12]:
my_dict

{'name': 'Tushar', 'Age': 33, 'City': 'Nagpur'}

In [13]:
my_dict["gender"] = "Male"

In [14]:
my_dict

{'name': 'Tushar', 'Age': 33, 'City': 'Nagpur', 'gender': 'Male'}

In [15]:
#fromkeys mehotd

In [16]:
keys =["Id", "Name", "Gender", "Age"]
values = [101,"Tushar", "Male", 33]

In [23]:
dict1 = dict.fromkeys(keys, None)

In [24]:
dict1

{'Id': None, 'Name': None, 'Gender': None, 'Age': None}

In [26]:
my_dict

{'name': 'Tushar', 'Age': 33, 'City': 'Nagpur', 'gender': 'Male'}

In [28]:
my_dict.values()

dict_values(['Tushar', 33, 'Nagpur', 'Male'])

In [29]:
my_dict.keys()

dict_keys(['name', 'Age', 'City', 'gender'])

In [30]:
#pop for remove

In [31]:
my_dict.pop("name")

'Tushar'

In [32]:
my_dict

{'Age': 33, 'City': 'Nagpur', 'gender': 'Male'}

In [33]:
my_dict.popitem()

('gender', 'Male')

In [34]:
my_dict

{'Age': 33, 'City': 'Nagpur'}

In [35]:
#nested dictionarry

In [36]:
student = {
    "student1":{"name":"Tushar", "Age":33},
    "Student2":{"name":"Parth", "Age":26}
}

In [37]:
student

{'student1': {'name': 'Tushar', 'Age': 33},
 'Student2': {'name': 'Parth', 'Age': 26}}

#loops

- For Loop

- While loop

In [38]:
#for loop for list

In [39]:
fruits =["apple", "banana", "cherry", "orange"]

In [44]:
#in keywords always use for iteration -
#iteration mean one by one accessing the elements
for i in fruits:
  print(i)

apple
banana
cherry
orange

In [45]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [46]:
total = 0
for i in range(1, 101):
  total +=i
  #total = total + i

print(total)

5050

In [48]:
num = 5
for i in range(1,11):
  print(f"{num} * {i} = {num*i}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [49]:
for i in range(1,6):
  print("*"*i)

*
**
***
****
*****

In [52]:
#nested lop for 1 to 3 tabel
for i in range(1,4):
  for j in range(1,6):
    print(f"{i}*{j} = {i*j}")
  print()

1*1 = 1
1*2 = 2
1*3 = 3
1*4 = 4
1*5 = 5

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10

3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15

In [58]:
a = 2
b = 3
print("the mutiplication of a dn b " ,a * b)
print(f"The multplication of a dn b is {a * b}")

the mutiplication of a dn b  6
The multplication of a dn b is 6

# While loop

In [59]:
i = 1
while i <= 5:
  print(i)
  i = i + 1
  #i += 1

1
2
3
4
5

In [64]:
#reverse the number

num = 123
rev = 0
while num >0:
  rev = rev *10 +num % 10
  num = num // 10
print(rev)

321

In [61]:
num = 123

In [62]:
num % 10

3

In [63]:
num // 10

12

#Comperhension

In [65]:
#square 1 to 5

In [67]:
sq = []
for i in range(1,6):
  sq.append(i ** 2)

print(sq)

[1, 4, 9, 16, 25]

In [68]:
#list comperhension
sq = [x ** 2 for x in range(1,6)]

In [69]:
sq

[1, 4, 9, 16, 25]

In [72]:
#set comperhenstin
sq = {x ** 2 for x in range(1,6)}

In [71]:
sq

{1, 4, 9, 16, 25}

In [75]:
#dict compehension
sq = {x:x ** 2 for x in range(1,6)}

In [76]:
sq

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [89]:
#tuple comperhension
sq = (x ** 2 for x in range(1,6))

In [90]:
sq

In [87]:
tuple(sq)

(1, 4, 9, 16, 25)

In [91]:
print(sq)

<generator object <genexpr> at 0x7c91659c8d40>

#coditional statement
- if else
- if elif else

In [92]:
age = 18
if age >= 18:
  print("You are eligible for voting")
else:
  print("not eligible")

You are eligible for voting

In [93]:
age = input("enter you age:- ")
age = 18
if age >= 18:
  print("You are eligible for voting")
else:
  print("not eligible")

enter you age:- 45.5
You are eligible for voting

In [97]:
username = "admin"
password = 123456

user = str(input("Enter your username:-"))
passw = int(input("enter yuur password:-"))

if user == username:
  if passw == password:
    print("Login Successful")
  else:
    print("invalid password")
else:
  print("invalid username")

Enter your username:-admin
enter yuur password:-123456
Login Successful

In [100]:
marks = 85
if marks >= 90:
  print("grade A")
elif marks >= 80:
  print("grade B")
else:
  print("grade C")

grade B

#comperhension

In [101]:
even_number = [x for x in range (1,11) if x % 2 == 0]

In [102]:
even_number

[2, 4, 6, 8, 10]